.expo
expo-env.d.ts
assets/expo.icon
node_modules/
build/
dist/
coverage/
.next/
out/
android/
ios/
.gradle/
*.lock
package-lock.json
yarn.lock
*.log
.env*
!.env.example
*.pbxproj
*.xcworkspace
*.xcodeproj
Podfile.lock